@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Persian-friendly defaults */
:root { color-scheme: light; }
html { 
    scroll-behavior: smooth;
    font-family: "Vazirmatn", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
body { font-feature-settings: "ss01" 1, "ss02" 1; }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }